header, nav, main,footer { 
    margin: auto;
    max-width: 1000px;
}

h1 {
    font-family: "Black Ops One", monospace;
    color: #f69f37;
    font-size: 3em;
    padding: 0px 0px 0px;
}

h2, h3 {
    font-family: "Covered By Your Grace", cursive;
    font-size: 2.5em;
    color: #153243;
}

main p {
    font-family: "Nanum Gothic", sans-serif; 
    font-size: 1.2em;
    line-height: 1.3;
    color: #153243;
}

body a {
    text-decoration: none;
}

.myheader {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}

.mytitle p {
    color: #f69f37;
    font-family: "Covered By Your Grace", cursive;
    font-size: 2em;
    line-height: .2em;
}

.logo {
    width: 150px;
    height: 150px;
    padding: 10px 10px 0px;
}

/*nav button {
    
}*/

nav {
    text-align: center;
    background-color: #28536b;
    position: relative;
    overflow: hidden;
}

nav ul {
    list-style: none;
    padding: 5px;
}

nav li {
    float:left;
}

nav ul li {
    padding: 10px;
}

.hiddenlist {
    position: absolute;
}

nav ul li a {
    color: #b4b8ab;
    font-family: "Nanum Gothic", sans-serif; 
    font-size: 1.25em;
}

.hidedropdown {
    position:relative;
	clear:both;
	/* Hide the Submenus */
	display:none;
}

nav ul li.currentpage a {
    padding: .5em;
    background-color:#f69f37;
    color: #28536b;
}

nav ul li a:hover:not(.active){
    background-color: #153243;
    color: #b4b8ab;
    padding: .5em;
}

footer{
    background-color: #28536b;
    color: #b4b8ab;
    padding: 5px 0px 0px;
    font-family: "Nanum Gothic", sans-serif; 
    font-size: .75em;
}

footer p {
    text-align: center;
    line-height: 1em;
}

footer p a {
    text-decoration: underline;
    color: #f69f37;
}

.footer-bar {
    text-align: center;
    background-color: #153243;
    color: #b4b8ab;
    padding: 5px;
}

/*home page*/

#carousel {
    display: none;
}

.homesections {
    Padding: 20px;
    background-color: #b4b8ab;
}

.rndimg {
    width: 80%;
    height: auto;
    border-radius: 50%;
    border: none;
    padding: 20px;
    position: inherit;
    align-self: center;
    background-color: #b4b8ab;
}

.homesections article {
    align-self: center;
}

button {
    padding: 5px;
    height: 60px;
    width: 200px;
    background-color: #f69f37;
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #153243;
}

article {
    margin-left: 3em;
}

/*Bikes Page*/

.bikesales {
    Padding: 20px;
    background-color: #b4b8ab; 
}

.bike {
    border: 2pt solid #f69f37;
    margin-top: 1.5em;
}

article ul {
    font-family: "Nanum Gothic", sans-serif;
    font-size: .9em;
    list-style: none;
}

/*Events Page*/

h4 {
    font-family: "Covered By Your Grace", cursive;
    font-size: 1.75em;
    color: #153243;
}

li {
   font-family: "Nanum Gothic", sans-serif;
    font-size: 1.2em; 
    color: #153243;
}

legend {
   font-family: "Nanum Gothic", sans-serif;
    font-size: 1.2em; 
    color: #153243;
    font-weight: bold;
}

fieldset {
    border-color: #153243;
    border-radius: 50px;
    margin: 2em;
}

.comments {
    border-color: #153243;
    border-radius: 10px;
    margin: 0em 2em 1em;
    width: 420px;
    height: 210px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 1em; 
    color: #153243;
}

.regform {
    max-width: 500px;
}

#regbutton {
    padding: 5px;
    height: 60px;
    width: 200px;
    background-color: #f69f37;
    text-align: center;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    color: #153243;
    margin: 1em;
}

/* Repairs/Maintenance Page*/

.repairstable {
    padding: 2em 1em 2em 1em;
}

table th {
    color: #28536b;
    background-color: #f69f37;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

th, td {
    border: 2px solid #153243;
    padding: 5px;
    text-align: left;
}

table tr:nth-child(odd) {
    background-color: #153243;
    color: #b4b8ab;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 1.2em;
}

table tr:nth-child(even) {
    background-color: #28536b;
    color: #b4b8ab;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 1.2em;
}

.tablesec {
    background-color: #b4b8ab;
    display: grid;
    align-content: center;
    justify-content: center;
}

/* thanks pages */

.thankyou {
    display: grid;
    text-align: center;
    background-color: #b4b8ab;
    padding: 2em;
}

/* adventure tours*/

.difficulty {
    text-align: left;
    background-color: #b4b8ab;
    padding: 2em;
}

.difficulty ul li {
    list-style: none;
}

.sideimg {
    width: 100%;
    height: auto;
}