/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */ 
{ box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: sans-serif;  /* Declare the base font-family */
  background-size: contain;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    margin: auto;
    max-width: 1000px;
}

header {
    text-align: center;
    background-color: #060049;
    color: #ccd0d4;
    font-weight: bold;
    border: none;
    padding: 1em;
}
header h1 {
    font-family: 'Sarpanch', sans-serif;
}
header img {
    float:left;
}
header .subheading {}

nav {
    text-align: right;
    background-color: #05007c;
}
nav button {
    margin:.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: #ccd0d4;
}
nav ul.hide {
    display: none;
}
nav ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    display: block;
}
nav ul li a {
    display: block;
    padding: .8rem 2%;
    color: #ccd0d4;
    text-decoration: none;
}
nav ul li.currentpage a {
    background-color: #ccd0d4;
    color: #060049;
}
nav ul li a:hover:not(.active){
    background-color: #060049;
    color: #ccd0d4;
}

main {
   display:block;
   background-color: #ccd0d4;
   color: #060049;
    text-align: center;
}
main h2 {
    font-family: 'Sarpanch', sans-serif;
}
main h3 {
    font-family: 'Sarpanch', sans-serif;
}
main figure {
}
main section div picture img { 
    Width: 40%;
    Height: auto;
}
main article {
    text-align: center;
}
main article img {
    width: 80%;
    height: auto;
}
footer {
    display: block;
    padding: .2em;
    text-align: center;
    background-color: #05007c;
    color: #ccd0d4;    
}

footer section span .currentdate {
}
.forecast {
    display: none;
}
.footer-bar {
    background-color: #060049;
    padding: .2em;
}

.subheading {
    font-family: 'Bungee Hairline', cursive;
}