@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
    
    nav button { display: none; }  /* hamburger button does not need to be shown in the medium on up views */
    
    nav ul li {
    display: inline-block;
    }
    
    section.forecast { 
        display: block;
        padding:.5em 2em 3em 2em;
        background-color: #969ea4;
    }  /* show the 10-day forecast with the medium view and up */

    main article img {
    width: 50%;
    height: auto;
    float: right;
    padding: .50em;
}
    main img {
        float:left;
    }
    
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;        
    }
    table {
        width: 100%;
    }
    
    .forecast {
        margin-top: 6em;
        
    }
}